attrs==20.3.0
autopep8==1.6.0
black==21.12b0
blinker==1.4
cachelib==0.2.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.9
click==7.1.2
cmake==3.18.4.post1
colorama==0.4.4
comtypes==1.1.9
cryptography==36.0.1
cs50==8.0.1
EditorConfig==0.12.3
face-recognition-models==0.3.0
Flask==2.0.2
Flask-Mail==0.9.1
Flask-Session==0.4.0
greenlet==1.0.0
gunicorn==20.1.0
help50==3.0.5
icdiff==2.0.4
idna==3.3
itsdangerous==2.0.1
jellyfish==0.8.9
Jinja2==3.0.3
jsbeautifier==1.14.0
lib50==3.0.3
MarkupSafe==2.0.1
mypy-extensions==0.4.3
numpy==1.20.2
pathspec==0.9.0
pep8==1.7.1
pexpect==4.8.0
Pillow==8.1.2
platformdirs==2.4.1
ptyprocess==0.7.0
pycodestyle==2.8.0
pycparser==2.21
python-dotenv==0.19.2
python-magic==0.4.24
pyttsx3==2.90
pywin32==300
PyYAML==5.4.1
qrcode==7.3.1
requests==2.26.0
six==1.16.0
SpeechRecognition==3.8.1
SQLAlchemy==1.4.29
sqlparse==0.4.1
style==1.1.0
style50==2.7.5
termcolor==1.1.0
toml==0.10.2
tomli==1.2.3
typing_extensions==4.0.1
update==0.0.1
urllib3==1.26.7
Werkzeug==2.0.2
